In [17]:
import numpy as np
import pandas as pd
import seaborn as snsЪ
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [18]:
data = pd.read_csv('movie_bd_v5.csv')

# Предобработка

In [19]:
answers = {} # создадим словарь для ответов


# функция разделения элементов в строке
def str_to_list(string):
    str_list = string.str.split('|')
    return str_list


#функция для выделения месяца из даты 
def month(string):
    mth = string.str.split('/').str[0]
    return mth


# создаем рабочий датафрейм
workdata = data.copy()
# сделать новый рабочий датафрейм
workdata['profit'] = (workdata.revenue - workdata.budget)
# добавляем столбец по разделенным жанрам
workdata['gen_list'] = str_to_list(workdata['genres'])
# добавляем столбец по разделенным режиссерам
workdata['dir_list'] = str_to_list(workdata['director'])
#добавляем датафрейм с колонкой месяца выхода фильма
data_month = workdata.copy()
data_month['month_list'] = month(data_month['release_date'])

#датафрейм с развернутым стобцом по актерам
data_cast = workdata.copy()
data_cast['cast_list'] = str_to_list(data_cast['cast'])
data_cast = data_cast.explode('cast_list')
#датафрейм с развернутым столбцом компаний
data_prod = workdata.copy()
data_prod['prod_list'] = str_to_list(data_prod['production_companies'])
data_prod = data_prod.explode('prod_list')
# подготавливаем датафрейм к созданию комбинаций актеров, снимавшихся вместе
data_comb = data.copy()
data_comb['cast'] = data_comb.cast.str.split('|')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [20]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [21]:
workdata[workdata.budget == workdata.budget.max()]
#print

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,gen_list,dir_list
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,"[Adventure, Action, Fantasy]",[Rob Marshall]

# 2. Какой из фильмов самый длительный (в минутах)?

In [22]:
answers['2'] = 'Gods and Generals (tt0279111)'
# +

In [23]:
data[data.runtime == data.runtime.max()]
#print

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [24]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
# +

In [25]:
data[data.runtime == data.runtime.min()]
#print

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [26]:
answers['4'] = '110'
# +

In [27]:
data.runtime.mean()
#добавить округление
#print

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [28]:
answers['5'] = '107'
# +

In [29]:
data.runtime.median()
#print

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [30]:
answers['6'] = 'Avatar (tt0499549)'
# +

In [33]:
workdata[workdata.profit == workdata.profit.max()]
#print

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,gen_list,dir_list
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,"[Action, Adventure, Fantasy, Science Fiction]",[James Cameron]

# 7. Какой фильм самый убыточный?

In [34]:
answers['7'] = 'The Lone Ranger (tt1210819)'
# +

In [35]:
workdata[workdata.profit == workdata.profit.min()]
#print

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,gen_list,dir_list
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,"[Action, Adventure, Western]",[Gore Verbinski]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [36]:
answers['8'] = '1478'
# +

In [37]:
#Вариант 1

In [38]:
workdata[workdata['profit'] > 0].profit.count()
#print

1478

In [39]:
#вариант 2

In [40]:
workdata.query('profit>0').imdb_id.count()
#print

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [41]:
answers['9'] = 'The Dark Knight (tt0468569)'
# +

In [42]:
# Предобработка
data_2008 = data[workdata.release_year == 2008].copy()

In [43]:
data_2008[data_2008.revenue == data_2008.revenue.max()]
#print

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [44]:
answers['10'] = 'The Lone Ranger (tt1210819)'
# +

In [45]:
# предобработка
data_2012_2014 = workdata[workdata.release_year.isin(['2012', '2013', '2014'])]

In [46]:
data_2012_2014[data_2012_2014.profit == data_2012_2014.profit.min()]
#print

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,gen_list,dir_list
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,"[Action, Adventure, Western]",[Gore Verbinski]

# 11. Какого жанра фильмов больше всего?

In [47]:
answers['11'] = 'Drama'
# +

In [48]:
#предобработка
gen_list = []

In [49]:
#Вариант 1

In [50]:
gen_list = workdata['gen_list'].sum()#work
Counter(gen_list).most_common(1)
#print

[('Drama', 782)]

ВАРИАНТ 2

In [51]:
Counter(workdata.genres.str.split('|').sum()).most_common(1)#work
#print

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [52]:
answers['12'] = 'Drama'
# +

In [53]:
#вариант 1

In [54]:
gen_profit_list = workdata[workdata.profit>0].gen_list.sum()
Counter(gen_profit_list).most_common(1)

[('Drama', 560)]

In [55]:
#вариант 2

In [56]:
Counter(workdata[workdata.profit>0].genres.str.split('|').sum()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [57]:
answers['13'] = 'Peter Jackson'
# +

In [58]:
#предобработка
data_dir = workdata.explode('dir_list')

In [59]:
(display(data_dir.groupby(['dir_list'])
         ['revenue'].sum().sort_values(ascending=False).head(1)))
#print

dir_list
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [60]:
answers['14'] = 'Robert Rodriguez'
# +

In [61]:
#предобработка
data_action = workdata[workdata.genres.str.contains('Action', na=False)]#work

In [62]:
#вариант 1

In [63]:
Counter(data_action.explode('dir_list').dir_list).most_common(1)
#print

[('Robert Rodriguez', 9)]

In [64]:
#вариант 2

In [65]:
(Counter(workdata[workdata.genres.str.contains('Action', na=False)]
         .explode('dir_list').dir_list).most_common(1))
#print

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [66]:
answers['15'] = 'Chris Hemsworth'
# +

In [67]:
#предобработка
data_cast_2012 = data_cast[data_cast.release_year == 2012]

In [68]:
(display(data_cast_2012.groupby(['cast_list'])
         ['revenue'].sum().sort_values(ascending=False).head(1)))
#print

cast_list
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [69]:
answers['16'] = 'Matt Damon'
# +

In [70]:
#предобработка
data_cast_budmean = data_cast[data_cast.budget>data_cast.budget.mean()]

In [71]:
Counter(data_cast_budmean.cast_list).most_common(1)
#print

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [72]:
answers['17'] = 'Action'
# +

In [73]:
#предобработка
data_cast_Cage = data_cast[data_cast.cast_list == 'Nicolas Cage']

In [74]:
#вариант 1

In [75]:
Counter(data_cast_Cage.explode('gen_list').gen_list).most_common(1)
#print

[('Action', 17)]

In [76]:
#вариант 2

In [77]:
(Counter(data_cast[data_cast.cast_list == 'Nicolas Cage']
         .explode('gen_list').gen_list).most_common(1))
#print

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [78]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
# +

In [79]:
#предобработка
data_prod_param = data_prod[data_prod.prod_list == 'Paramount Pictures']

In [80]:
(data_prod_param[data_prod_param
                 .profit == data_prod_param.profit.min()].original_title)
#print

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [81]:
answers['19'] = '2015'
# +

In [82]:
(display(workdata.groupby(['release_year'])
         ['revenue'].sum().sort_values(ascending=False).head(1)))
#print

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [83]:
answers['20'] = '2014'
# +

In [84]:
(display(data_prod[data_prod.prod_list.str.contains('Warner Bros')].groupby
         (['release_year'])['profit'].sum().sort_values
         (ascending=False).head(1)))
#print

release_year
2014    2292949646
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [85]:
answers['21'] = 'Сентябрь'
# +

In [86]:
Counter(data_month['month_list']).most_common(1)
#print

[('9', 227)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [87]:
answers['22'] = '450'
# +

In [88]:
#предобработка
data_month_summer = data_month[data_month.month_list.isin(['6', 
                                                           '7', '8'])].copy()

In [89]:
data_month_summer.imdb_id.count()
#print

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [90]:
answers['23'] = 'Peter Jackson'
# +

In [91]:
#предобрабтка
data_month_winter = data_month[data_month.month_list.isin(['12', 
                                                           '1', '2'])].copy()
data_month_winter = data_month_winter.explode('dir_list')

In [92]:
Counter(data_month_winter['dir_list']).most_common(1)
#print

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [93]:
answers['24'] = 'Four By Two Productions'
# +

In [94]:
#предобработка
data_prod['len_tittle'] = data_prod.original_title.apply(lambda x: len(x))

In [95]:
data_prod.groupby(['prod_list']
                 )['len_tittle'].mean().sort_values(ascending=False).head(1)
#print

prod_list
Four By Two Productions    83.0
Name: len_tittle, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [96]:
answers['25'] = 'Midnight Picture Show'
# +

In [97]:
#предобработка
data_prod['len_overview'] = data_prod.overview.apply(lambda x: len(x.split(' ')))

In [98]:
data_prod.groupby(['prod_list']
                 )['len_overview'].mean().sort_values(ascending=False).head(1)
#print

prod_list
Midnight Picture Show    175.0
Name: len_overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [99]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [100]:
a = data.sort_values(by='vote_average', ascending=False).head(int(len(data)*0.01))
print('Фильмы, входящие в 1 процент лучших по рейтингу', a.original_title)

Фильмы, входящие в 1 процент лучших по рейтингу 599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [101]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
# +

In [102]:
movie_comb = data_comb.cast.apply(lambda x: list(combinations(x, 2)))
comb_list = []
for item in movie_comb:
    for i in item:
        i = sorted(i)
        result = i[0] + ' & ' + i [1]
        comb_list.append(result)
Counter(comb_list).most_common(1)
#print

[('Daniel Radcliffe & Rupert Grint', 8)]

# Submission

In [103]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [104]:
# и убедиться что ни чего не пропустил)
len(answers)

27