In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations
import math

In [2]:
data = pd.read_csv('movie_bd_v5.csv')

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов


# функция разделения элементов в строке
def str_to_list(string):
    str_list = string.str.split('|')
    return str_list


#функция для выделения месяца из даты 
def month(string):
    mth = string.str.split('/').str[0]
    return mth


# создаем рабочий датафрейм
workdata = data.copy()
# добавляем столбец с прибылью
workdata['profit'] = (workdata.revenue - workdata.budget)
# добавляем столбец по разделенным жанрам
workdata['gen_list'] = str_to_list(workdata['genres'])
# добавляем столбец по разделенным режиссерам
workdata['dir_list'] = str_to_list(workdata['director'])
#добавляем датафрейм с колонкой месяца выхода фильма
data_month = workdata.copy()
data_month['month_list'] = month(data_month['release_date'])

#датафрейм с развернутым стобцом по актерам
data_cast = workdata.copy()
data_cast['cast_list'] = str_to_list(data_cast['cast'])
data_cast = data_cast.explode('cast_list')
#датафрейм с развернутым столбцом кинокомпаний
data_prod = workdata.copy()
data_prod['prod_list'] = str_to_list(data_prod['production_companies'])
data_prod = data_prod.explode('prod_list')
# подготавливаем датафрейм к созданию комбинаций актеров, снимавшихся вместе
data_comb = data.copy()
data_comb['cast'] = data_comb.cast.str.split('|')
# создаем датафрейм с развернутым списком режиссеров
data_dir = workdata.explode('dir_list')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [4]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

ВАРИАНТ 1

In [5]:
# Находим строку с максимальным значением в колонке с бюджетом фильмов
workdata[workdata.budget == workdata.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [6]:
answers['2'] = 'Gods and Generals (tt0279111)'
# +

ВАРИАНТ 1

In [7]:
# Находим строку с максимальным значением в колонке длительность фильма
workdata[workdata.runtime == workdata.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [8]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
# +

ВАРИАНТ 1

In [9]:
# Находим строку с минимальным значением в колонке длительность фильма
workdata[workdata.runtime == workdata.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [10]:
answers['4'] = '110'
# +

ВАРИАНТ 1

In [11]:
# находим среднее значение по колонке длительность фильмов с округлением
math.ceil(workdata.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = '107'
# +

ВАРИАНТ 1

In [13]:
# находим медианное значение в колонке длительности фильмов
workdata.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
answers['6'] = 'Avatar (tt0499549)'
# +

ВАРИАНТ 1

In [15]:
# находим строку с максимальным значением в колонке прибыль
workdata[workdata.profit == workdata.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [16]:
answers['7'] = 'The Lone Ranger (tt1210819)'
# +

ВАРИАНТ 1

In [17]:
# находим строку с минимальным значением в колонке прибыль
workdata[workdata.profit == workdata.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [18]:
answers['8'] = '1478'
# +

ВАРИАНТ 1

In [19]:
# считаем количество элементов с условием положительной брибыли
workdata[workdata['profit'] > 0].profit.count()

1478

ВАРИАНТ 2

In [20]:
# считаем количество элементов с условием положительной брибыли используя query
workdata.query('profit>0').profit.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
answers['9'] = 'The Dark Knight (tt0468569)'
# +

ПРЕДОБРАБОТКА

In [22]:
# создаем датафрейм по 2008 году
data_2008 = workdata[workdata.release_year == 2008].copy()

ВАРИАНТ 1

In [23]:
# находим строку с максимальным значением по колонке сборы
data_2008[data_2008.revenue == data_2008.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = 'The Lone Ranger (tt1210819)'
# +

ПРЕДОБРАБОТКА

In [25]:
# создаем датафрейм за период с 2012 по 2014 год включительно
data_2012_2014 = workdata[workdata.release_year.isin(['2012', '2013', '2014'])]

ВАРИАНТ 1

In [26]:
# находим строку с максимальным значением прибыли
(data_2012_2014[data_2012_2014.profit == data_2012_2014.profit.min()]
 .original_title)

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [5]:
answers['11'] = 'Drama'
# +

ПРЕДОБРАБОТКА

In [6]:
# создаем список, куда будем записывать элементы 
# из колонки с развернутым списком по жанрам фильмов
gen_list = []

ВАРИАНТ 1

In [7]:
# добавляем значения в список
gen_list = workdata['gen_list'].sum()
# запускаем счетчик количества уникальных элементов, 
# показываем самый частовстречающийся
Counter(gen_list).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [30]:
# запускаем счетчик не используя промежуточный список, сразу разделяя
# элементы в колонке с жанрами фильмов
Counter(workdata.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
answers['12'] = 'Drama'
# +

ПРЕДОБРАБОТКА

In [32]:
# создаем список, куда будем зписывать жанры из развернутого списка
gen_profit_list = []

ВАРИАНТ 1

In [33]:
# добавляем жанры из развернутого списка, если прибыль фильма положительна
gen_profit_list = workdata[workdata.profit>0].gen_list.sum()
# запускаем счетчик по списку
Counter(gen_profit_list).most_common(1)

[('Drama', 560)]

ВАРИАНТ 2

In [34]:
# сразу запускаем счетсчик по колонке с жанрами, разделяя элементы
Counter(workdata[workdata.profit>0].genres.str.split('|').sum()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [35]:
answers['13'] = 'Peter Jackson'
# +

ВАРИАНТ 1

In [36]:
# используя датафрейм с развернутым списком по режиссерам,
# группируем по режиссерам и считаем сумму кассовых сборов
(display(data_dir.groupby(['dir_list'])
         ['revenue'].sum().sort_values(ascending=False).head(1)))

dir_list
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [37]:
answers['14'] = 'Robert Rodriguez'
# +

ПРЕДОБРАБОТКА

In [38]:
# создаем датафрейм со строками, в колонке которых содержится Action
data_action = data_dir[data_dir.genres.str.contains('Action', na=False)]

ВАРИАНТ 1

In [39]:
# запускаем счетчик по колонке с развернутым списком режиссеров
Counter(data_action.explode('dir_list').dir_list).most_common(1)

[('Robert Rodriguez', 9)]

ВАРИАНТ 1

In [40]:
# сразу запускаем счетчик по развернутому списку режиссеров,
# с условием, что в строке в колонке с жанрами, есть Action
(Counter(data_dir[data_dir.genres.str.contains('Action', na=False)]
         .explode('dir_list').dir_list).most_common(1))

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [41]:
answers['15'] = 'Chris Hemsworth'
# +

ПРЕДОБРАБОТКА

In [42]:
# создаем датафрейм по 2012 году из датафрейма с развернутым спискам по актерам
data_cast_2012 = data_cast[data_cast.release_year == 2012]

ВАРИАНТ 1

In [43]:
# группируем по актерам, считая сумму кассовых сборов у каждого актера
(display(data_cast_2012.groupby(['cast_list'])
         ['revenue'].sum().sort_values(ascending=False).head(1)))

cast_list
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [44]:
answers['16'] = 'Matt Damon'
# +

ПРЕДОБРАБОТКА

In [45]:
# создаем датафрейм, содержащий строки с бюджетом выше среднего,
# из датафрейма с развернутым спискам по актерам
data_cast_budmean = data_cast[data_cast.budget>data_cast.budget.mean()]

ВАРИАНТ 1

In [46]:
# запускаем счетчик по колонке актеров

Counter(data_cast_budmean.cast_list).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [47]:
answers['17'] = 'Action'
# +

ПРЕДОБРАБОТКА

In [48]:
# создаем датафрейм с фильмами, в кототорых снимался Николас Кедж
# используя датафрейм с развернутым списком по актерам
data_cast_Cage = data_cast[data_cast.cast_list == 'Nicolas Cage']

ВАРИАНТ 1

In [49]:
# запускаем счетчик по развернутому списку жанров
Counter(data_cast_Cage.explode('gen_list').gen_list).most_common(1)

[('Action', 17)]

ВАРИАНТ 2

In [50]:
# сразу запускаем счетчик по датафрейму с развернутым списком по актерам,
# разворачивая колонку со списком жанров, с условием, что
# актер Николас Кейдж
(Counter(data_cast[data_cast.cast_list == 'Nicolas Cage']
         .explode('gen_list').gen_list).most_common(1))
#print

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [51]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
# +

ПРЕДОБРАБОТКА

In [52]:
# используя датафрейм с развернутым столбцом кинокомпаний
# создаем датафрейм с фильмами студии Парамоунт
data_prod_param = data_prod[data_prod.prod_list == 'Paramount Pictures']

ВАРИАНТ 1

In [53]:
# ищем строчку с минимальным значением дохода
(data_prod_param[data_prod_param
                 .profit == data_prod_param.profit.min()].original_title)

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [54]:
answers['19'] = '2015'
# +

ВАРИАНТ 1

In [55]:
# группируем датафрейм по годам выпуска и счтаем сумму кассовых сборов
(display(workdata.groupby(['release_year'])
         ['revenue'].sum().sort_values(ascending=False).head(1)))

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [56]:
answers['20'] = '2014'
# +

ВАРИАНТ 1

In [57]:
# используем датафрейм с развернутым списком кинокомпаний
# группируем по году выпуска фильмов, с условием,
# что в колонке кинокомпаний содержится Warner Bros
# и считаем сумму дохода
(display(data_prod[data_prod.prod_list.str.contains('Warner Bros')].groupby
         (['release_year'])['profit'].sum().sort_values
         (ascending=False).head(1)))

release_year
2014    2292949646
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [58]:
answers['21'] = 'Сентябрь'
# +

ВАРИАНТ 1

In [59]:
# используем датафрейм с колонкой, содержащей месяц выхода фильмов
# запускаем счетчик по колонке с месяцами
Counter(data_month['month_list']).most_common(1)

[('9', 227)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [60]:
answers['22'] = '450'
# +

ПРЕДОБРАБОТКА

In [61]:
# созаем датафрейм с фильмами, выпущенными летом
data_month_summer = data_month[data_month.month_list.isin(['6', 
                                                           '7', '8'])].copy()

ВАРИАНТ 1

In [62]:
# запускаем счетчик по количеству строк
data_month_summer.imdb_id.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [63]:
answers['23'] = 'Peter Jackson'
# +

ПРЕДОБРАБОТКА

In [64]:
# создаем датафрейм с фильмами, выпущенными зимой
data_month_winter = data_month[data_month.month_list.isin(['12', 
                                                           '1', '2'])].copy()
# разворачиваем датафрейм по списку режиссеров
data_month_winter = data_month_winter.explode('dir_list')

ВАРИАНТ 1

In [65]:
# запускаем счетчик по колонке со списком режиссеров
Counter(data_month_winter['dir_list']).most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [66]:
answers['24'] = 'Four By Two Productions'
# +

ПРЕДОБРАБОТКА

In [67]:
# в датафрейм с колонкой, содержащей развернутый спиок кинокомпаний
# добавляем колонку с длиной названия фильмов
data_prod['len_tittle'] = data_prod.original_title.apply(lambda x: len(x))

ВАРИАНТ 1

In [68]:
# гуппируем по списку кинокомпаний, считаем среднее значение
# длины названий фильмов
data_prod.groupby(['prod_list']
                 )['len_tittle'].mean().sort_values(ascending=False).head(1)

prod_list
Four By Two Productions    83.0
Name: len_tittle, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [69]:
answers['25'] = 'Midnight Picture Show'
# +

ПРЕДОБРАБОТКА

In [70]:
# в датафрейм с колонкой, содержащей развернутый спиок кинокомпаний
# добавляем колонку с количеством слов в описании к фильму
data_prod['len_overview'] = data_prod.overview.apply(lambda x: 
                                                     len(x.split(' ')))

ВАРИАНТ 1

In [71]:
# гуппируем по списку кинокомпаний, считаем среднее значение
# количества слов в описнии к фильму
data_prod.groupby(['prod_list']
                 )['len_overview'].mean().sort_values(ascending=False).head(1)

prod_list
Midnight Picture Show    175.0
Name: len_overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [72]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
# +

ВАРИАНТ 1

In [73]:
# сортируем работчий датафрейм по рейтинру и показываем
# одну сотую длины списка
(workdata.sort_values(by='vote_average', ascending=False)
 .head(int(len(data)*0.01)))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,gen_list,dir_list
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,"[Drama, Action, Crime, Thriller]",[Christopher Nolan]
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480,"[Adventure, Drama, Science Fiction]",[Christopher Nolan]
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708,"[History, Drama, Thriller, War]",[Morten Tyldum]
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,"[Comedy, Animation, Family]",[Pete Docter]
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758,"[Drama, Thriller]",[Lenny Abrahamson]
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,"[Crime, Drama, Comedy]",[Martin Scorsese]
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363,"[Mystery, Thriller, Drama]",[David Fincher]
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,"[Drama, History]",[Steve McQueen]
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399,"[Action, Science Fiction, Adventure]",[James Gunn]
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,"[Adventure, Fantasy, Action]",[Peter Jackson]
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096,"[Mystery, Thriller]",[Christopher Nolan]
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000,"[Action, Thriller, Science Fiction, Mystery, A...",[Christopher Nolan]
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577,"[Drama, War]",[Roman Polanski]
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318,"[Comedy, Drama]",[Wes Anderson]
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013,24351251,"[Romance, Science Fiction, Drama]",[Spike Jonze]
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015,68346473,"[Drama, Thriller, History]",[Tom McCarthy]
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014,487105443,"[Adventure, Family, Animation, Action, Comedy]","[Don Hall, Chris Williams]"
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014,293151265,"[Romance, Drama]",[Josh Boone]

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [74]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
# +

ПРЕДОБРАБОТКА

In [75]:
# создаем список, куда будем записывать комбинации снимавшихся вместе актеров
comb_list = []
# создаем список, содержащий список комбинаций актеров снипавшихся вместе
# по каждому фильму
movie_comb = data_comb.cast.apply(lambda x: list(combinations(x, 2)))
# переменная, куда сохраняется комбинаяция снимавшихся вместе актеров
# для записи в итоговый список
result = ''

ВАРИАНТ 1

In [76]:
# запускаем цикл по списку комбинаций в каждом фильме
for item in movie_comb:
# в каждом списке цикла запускаем новый цикл по комбинациям актеров
    for i in item:
        i = sorted(i) # сортируем по алфавиту
        result = i[0] + ' & ' + i [1] # сохраняем кортеж в строковую величину
        comb_list.append(result) # добавляем строку в итоговый список
Counter(comb_list).most_common(1) # запускаем счетчик по уникальным элементам

[('Daniel Radcliffe & Rupert Grint', 8)]

# Submission

In [77]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [78]:
# и убедиться что ни чего не пропустил)
len(answers)

27